:root {
    --charcoal: 38, 70, 83;
    --persian-green: 42, 157, 143;
    --light-cyan: 224, 251, 252;
    --burnt-sienna: 238, 108, 77;
    --giants-orange: 240, 93, 35;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    background-color: rgba(var(--charcoal), 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 8vmin;
    width: 80vmin;
    /* position: fixed;
    top: 0px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4vmin;
}

header > span {
    font-size: 11vmin;
    color: white;
    font-family: 'Foldit', cursive;
}

main {
    height: 75vmin;
    width: 80vmin;
}

footer {
    height: 5%;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p.social {
    position: absolute;
    right: 10px;
    font-size: 3vmin;
    letter-spacing: 0.5vmin;
    margin: 0;
    padding: 0.5vmin;
    color: white;
    text-decoration: none;
}

footer > p.social > a {
    color: white;
    text-decoration: none;
}

#game-intro{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-intro-instructions > h3{
    margin-top: 0;
}

#game-intro-instructions{
    font-size: 1.5vmin;
    color: white;
    background-color: rgba(var(--charcoal), 0.5);
    /* text-align: center; */
    margin-bottom: 4vmin;
    padding: 2vmin 2vmin;
}

#game-intro-instructions > div{
    padding: 2px 0;
}
#game-options{
    background-color: black;
    position: absolute;
    top: 5vmin;
    left: -5vmin;
    width: 5vmin;
    height: 20.5vmin;
}

#game-options > span{
    display: block;
    font-size: 4vmin;
    text-align: center;
    color: white;
    padding-top: 0.5vmin;
    padding-bottom: 0.5vmin;
    cursor: pointer;
}

#score-board-outer{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#score-board-inner {
    background-color: rgba(var(--persian-green),1);
    padding: 0.3vmin 3vmin;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
}

#score-board-inner > div > img {
    width: 5vmin;
    border-radius: 50%;
    border:0.4vmin solid rgba(var(--light-cyan),1);
}

#score-board-left, #score-board-right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    text-align: center;
}

#score-board-left > img, #score-board-right > img {
    grid-row: span 2;
    justify-self: center;
    align-self: center;
}

#score-board-left > div:first-child, #score-board-right > div {
    align-self: center;
}

#score-board-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vmin;
    font-family: 'Darumadrop One', cursive;
}

#score-board-middle > span {
    padding: 0 0.5vmin;
}

#score-board-left{
    position: relative;
}

#timer{
    background-color: black;
    padding: 0.5vmin 2vmin;
    position: absolute;
    bottom: -2.8vmin;
    left: -15%;
    color: rgba(var(--light-cyan), 1);
}

#message{
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message > p{
    text-align: center;
    color: white;
    font-size: 1.7vmin;
    text-transform: uppercase;
}

#game-board{
    height: 75%;
    background-color: rgba(var(--light-cyan),1);
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

#controls{
    height: 10%;
    background-color: #EE6C4D;
    display: flex;
    justify-content: center;
    align-items: center;
}

#controls > button {
    padding: 1vmin 7vmin;
    cursor: pointer;
    color: white;
    border: none;
    text-transform: uppercase;
    background-color: rgba(180, 55, 24, 1);
}

#controls > button:hover {
    background-color: rgba(180, 55, 24, 0.6);
}


.hidden{
    display: none !important;
}

.hidden-inplace{
    visibility: hidden !important;
}

#board-one-outer, #board-two-outer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board-one-inner, #board-two-inner{
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    width: 30vmin;
    height: 30vmin;
}

#board-one-menu{
    background-color: #b5f5f8;
    width: 30vmin;
    height: 17vmin;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2vmin;
    row-gap: 0.5vmin;
}

#board-one-menu > div{
    cursor: move;
}

#board-one-menu > div:hover{
    box-shadow: 0 0 10px rgba(var(--charcoal), 0.5);
}

#board-two-menu{
    background-color: #b5f5f8;
    width: 30vmin;
    height: 6vmin;
    margin-bottom: 11vmin;
}

.row{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.cell{
    background-color: white;
    border: 0.2vmin solid rgba(var(--light-cyan),1);
}

#board-two-inner > .row > .cell{
    cursor: pointer;
}

.hover{
    background-color: grey !important;
}

@media screen and (max-width: 800px) {
    body{
        font-size: 12px;
    }
    #game-board{
        grid-template-columns: 100%;
    }
    #game-board > .mobile-hide{
        display: none;
    }

    #game-options{
        top: 5vmin;
        left: -9vmin;
        width: 9vmin;
        height: 33vmin;
    }
    
    #game-options > span{
        font-size: 6vmin;
        padding-top: 1vmin;
        padding-bottom: 1vmin;
    }

    footer {
        font-size: 60%;
    }

    footer > p.social {
        position: absolute;
        font-size: 100%;
        letter-spacing: 0.5vmin;
        margin: 0;
        padding: 0.5vmin;
    }
  }